<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <style>
    * {
      padding: 0;
      margin: 0;
    }
    body {
      background: pink;
    }
    #contenedor {
      position: absolute;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #login-contenedor {
      background: white;
      padding: 2rem;
      width: 25%;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <div id="contenedor">
    <div id="login-contenedor">
      <p>Selecciona...</p>
      <a href="/auth/login/github">Github</a>
    </div>
  </div>
</body>
</html>